.stipe-checkout-button {
    width: 100%;

    .use-test-card-warning {
        text-align: center;
        margin: 40px 0 10px 0;
        font-size: 24px;
        color: red;

        p {
           margin: 5px 0;
        }

        .expiration-and-cvv {
            font-size: 20px;
        }

        &.hidden > * {
            display: none;
        }
    }

    button {
        float: right;

        &:disabled {
            cursor: not-allowed;
        }
    }

}